/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.home{
    background-color: rgb(0, 132, 255);
    padding: 0px;
    margin: 0;
    transition: 3s ease;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}

#mic{
    position: absolute;
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    font-size: 25px;
    outline: none;
    color: rgb(0, 153, 255);
    background-color: white;
    cursor: pointer;
    left: 25%;
    bottom: 13px;
    transition: 0.2s ease-in-out;
}

.card {
    position: absolute;
    background: rgb(49, 49, 49);
    color: rgb(0, 153, 255);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    height: 37%;
    top: 0;
    right: 0;
}
  
.search {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: rgb(0, 153, 255);
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: rgb(0, 153, 255);
    color: #fff;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}
  
button:hover {
    background: #7c7c7c6b;
}
  
h3.temp {
    margin: 0;
    margin-bottom: 0.4em;
}
  
.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
    padding: 2em;
}
  
.weather.loading:after {
    visibility: visible;
    content: "Enter your city name to load the weather report..";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.music{
    position: absolute;
    background: #fff;
    padding: 2em;
    border-radius: 30px;
    width: 420px;
    margin: 1em;
    right: 0;
    height: 38%;
    bottom: 17%;
}

.net{
    position: absolute;
    background: #fff;
    padding: 2em;
    border-radius: 30px;
    width: 420px;
    margin: 1em;
    bottom: 0;
    font-size: 15px;
    right: 0;
}

.net h1{
    color: rgb(0, 153, 255);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.result{
    font-size: 2em;
    padding: 1em;
    margin-top: 1em;
    font-weight: bolder;
    color: rgb(0, 153, 255);
    border: 3px rgb(0, 153, 255) solid;
    border-radius: 7px;
}

.progress{
    font-size: 16px;
    padding: 1em;
    margin-top: 1em;
    font-weight: bolder;
    color: rgb(0, 153, 255);
}

.home .chat{
    background-color: #fff;
    padding-top: 1em;
    height: 100%;
    width: 350px;
}

.home .chat #title{
    padding-left: 10%;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 40px;
    color: #111;
    font-family: 'Ubuntu', sans-serif;
}

.home .chat #title a{
    color: rgb(0, 132, 255);
}

.home .chat #chatbox{
    padding-top: 20px;
    background-color: transparent;
    height: 85%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-color: rgb(0, 132, 255) #fff;
    scrollbar-width: thin;
}

.home .chat #chatbox::-webkit-scrollbar{
    width: 12px;
}

.home .chat #chatbox::-webkit-scrollbar-track{
    background: #fff;
}

.home .chat #chatbox::-webkit-scrollbar-thumb{
    background: rgb(0, 132, 255);
    border-radius: 7px;
}

.chat-bar-icons{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding-top: 7px;
    width: 20%;
    float: right;
    font-size: 20px;
}

#chat-icon:hover{
    opacity: .7;
}

#userInput{
    width: 75%;
}

.input-box{
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px #111 solid;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    font-size: 16px;
    color: #111;
    background-color: #fff;
    outline: none;
}

.userText{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    padding: 10px;
}

.userText span{
    line-height: 1.5em;
    display: inline-block;
    background: rgb(0, 132, 255);
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
}

.home .chat #chatbox .botText{
    color: #000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding: 10px;
}

.home .chat #chatbox .botText span{
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    font-size: 16px;
    font-weight: 200;
    padding: 10px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    max-width: 80%;
    margin-left: 10px;
    animation: floatup .5s forwards;
}

@keyframes floatup{
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.face{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(0, 132, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25%;
    right: 43%;
}

.face::before{
    content: '';
    position: absolute;
    top: 180px;
    width: 150px;
    height: 70px;
    background: #111;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.face:hover::before{
    top: 210px;
    width: 150px;
    height: 20px;
    background: #111;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.eyes{
    position: relative;
    top: -40px;
    display: flex
}

.eyes .eye{
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background: #fff;
    margin: 0 15px;
    border-radius: 50%
}

.eyes .eye::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 50%
}

@media (max-width: 690px) {
    .net{
        display: none;
    }
    .card{
        display: none;
    }
    .music{
        display: none;
    }
    #mic{
        display: none;
    }
    .face{
        display: none;
    }
}